[package]
name = "genlogsum"
version = "1.3.2"
edition = "2021"

[[bin]]
name = "gls"
path = "src/main.rs"

[dependencies]
chrono = "0.4.38"
clap = { version = "4.5.18", features = ["derive"] }
serde_json = "1.0.128"

[profile.release]
lto="thin"
